/*
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.title {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    color: lightgreen;
    text-shadow: 2px 2px 5px black;
    margin-top: 20px;
}

.container {
    display: block;
    border: 3px solid black;
    height: 800px;
    width: 800px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px darkgray;
    background-color: lightblue;
}

.sketch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    height: 700px;
    border: 1px solid black;
    margin: 50px auto;
    background-color: lightgrey;
}

.sketch-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sketch-container > div > * {
    flex: 1;
    border: 1px solid black;
}

.column {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 50px;
    text-align: center;
}

button {
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
}

button:hover {
    border: 5px solid lightgreen;
}
*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.title {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem; /*changed from 70px */
    color: lightgreen;
    text-shadow: 2px 2px 5px black;
    margin-top: 20px;
}

.container {
    display: block;
    border: 3px solid black;
    max-height: 800px;
    width: 90%; /* changed from 800px */
    max-width: 800px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px darkgray;
    background-color: lightblue;
}

.sketch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%; /* changed from 700px */
    max-width: 700px;
    height: 700px;
    border: 1px solid black;
    margin: 50px auto;
    background-color: lightgrey;
}

.sketch-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sketch-container > div > * {
    flex: 1;
    border: 1px solid black;
}

.column {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 50px;
    text-align: center;
}

button {
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
}

button:hover {
    border: 5px solid lightgreen;
}

@media (max-width: 500px){
    .title {
        font-size: 1.5rem;
    }

    .container {
        max-width: 300px;
        width: 100%;
        max-height: 300px;
    }

    .sketch-container {
        max-width: 230px;
        width: 100%;
        max-height: 230px;
        background-color: whitesmoke;
        margin: 20px auto;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .grid-size {
        display: none;
    }
}


